/*--------------------------------------------------------------
# COMPONENTS/MOSAIC
https://codepen.io/brianhaferkamp/pen/KGjxmw
--------------------------------------------------------------*/

$mosaic-gap: (0: 0,
    1: 1px,
    5: $global-margin/2,
    10: $global-margin,
    15: $global-margin*1.5,
    20: $global-margin*2,
    25: $global-margin*2.5,
    30: $global-margin*3,
    35: $global-margin*3.5,
    40: $global-margin*4,
    45: $global-margin*4.5,
    50: $global-margin*5,
);
$mosaic-height: (30vh: 30vh,
    35vh: 35vh,
    40vh: 40vh,
    45vh: 45vh,
    50vh: 50vh,
    55vh: 55vh,
    60vh: 60vh,
    65vh: 65vh,
    70vh: 70vh,
    75vh: 75vh,
    80vh: 80vh,
    85vh: 85vh,
    90vh: 90vh,
    95vh: 95vh,
    100vh: 100vh,
);
$mosaic-cols: (1-col: 1fr,
    2-col: repeat(2, 1fr),
    3-col: repeat(3, 1fr),
    4-col: repeat(4, 1fr),
    5-col: repeat(5, 1fr),
    6-col: repeat(6, 1fr),
);

.mosaic {
    display: grid;
    grid-template-columns: 1fr;
    // grid-auto-rows: minmax(250px, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: $global-margin;
    // min-height: 50vh;

    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(large) {
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(3, 300px);
        // grid-template-rows: auto;
    }

    @each $slug,
    $value in $mosaic-cols {
        &__template--#{$slug} {
            @include breakpoint(large) {
                grid-template-columns: #{$value};
            }
        }
    }

    @each $slug,
    $value in $mosaic-gap {
        &__gap--#{$slug} {
            gap: #{$value}
        }
    }

    @each $slug,
    $value in $mosaic-height {
        &__height--#{$slug} {
            min-height: #{$value}
        }
    }

    &__item {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include transition(all .4s ease);
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // width: 100%;
            // height: 100%;
            background-color: rgba($black, .6);
            z-index: 1;
            @include transition(all .4s ease);
        }

        &:hover {
            &::after {
                background: rgba($black, 0);
            }

            img {
                @include scale(1.1);
            }

            .mosaic__item-content {
                background-color: rgba($black, .6);
            }
        }

        &--featured {
            grid-column: span 2;
            grid-row: span 2;
        }

        &--wide {
            grid-column: span 2;
            grid-row: span 1;
        }

        &--tall {
            grid-column: span 1;
            grid-row: span 2;
        }

        @for $i from 1 through 4 {
            &--1x#{$i} {
                grid-column: span 1;
                grid-row: span 1;

                @include breakpoint(medium) {}

                @include breakpoint(large) {
                    grid-column: span 1;
                    grid-row: span #{$i};
                }
            }
        }

        @for $i from 1 through 4 {
            &--#{$i}x1 {
                grid-column: span 1;
                grid-row: span 1;

                @include breakpoint(medium) {}

                @include breakpoint(large) {
                    grid-column: span #{$i};
                    grid-row: span 1;
                }
            }
        }

        @for $i from 1 through 4 {
            &--#{$i}x#{$i} {
                grid-column: span 1;
                grid-row: span 1;

                @include breakpoint(medium) {}

                @include breakpoint(large) {
                    grid-column: span #{$i};
                    grid-row: span #{$i};
                }
            }
        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            @include scale(1);
            @include transition(all .5s ease-in-out);
        }

        &-content {
            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(center);
            @include border-radius(.2rem);
            @include transition(all .6s ease);
            position: absolute;
            z-index: 10;
            padding: $global-padding*2;
            background-color: rgba($black, 0);

            &-title {}

            &-subtitle {}
        }
    }
}