/*--------------------------------------------------------------
# LAYOUT/PARTIALS/FOOTERS/GOLDENGAMES FOOTER
# Ref.: src\assets\scss\template\base\headers\_header.scss
--------------------------------------------------------------*/

.footer {
    .widget-title {
        text-transform: uppercase;
        color: #fff;
    }
}

.footer-middle {
    border-top: none;

    .container {
        position: relative;
        display: block;

        &::before {
            content: '';
            position: absolute;
            top: -6.7rem;
            left: 1rem;
            right: 1rem;
            height: .1rem;
            background-color: #333;
        }
    }

    .row>div:not(:first-child) {
        padding-left: 6rem;
    }

}

.footer-bottom {
    .container {
        &::before {
            left: 1rem;
            right: 1rem;
            background-color: #333;
        }
    }

    .container,
    .container-fluid {
        padding-bottom: 2.1rem;
    }
}

.footer-copyright {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #666;
}

.gg-footer {
    color: $white;

    p,
    a {
        color: $white;
    }

    >div {
        padding: $global-padding 0;

        &:not(:last-child) {
            // border-bottom: 1px solid rgba($white, .25);
            padding: $global-padding*5 0;
        }

        &:last-child {
            p {
                font-size: 1.2rem;
                font-weight: 400;
                letter-spacing: 0;
                margin-bottom: 0;
            }
        }

        &.gg-footer-top {
            // background-color: get-color(gg-blue);
            background-color: get-color(gg-orange);
        }

        &.gg-footer-middle {
            // background-color: darken(get-color(gg-blue), 15);
            background-color: get-color(gg-purple);
        }

        &.gg-footer-bottom {
            // background-color: darken(get-color(gg-blue), 30);
            background-color: darken(get-color(gg-blue), 30);
        }
    }

    &__wrapper {
        @include xy-grid-container;

        >div {
            @include flex(1, 0, 0px);
            padding-bottom: $global-padding*2;
            margin-bottom: $global-margin*2;
            border-bottom: 1px solid rgba($white, .25);

            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
            }

            @include breakpoint(large) {
                &:not(:last-child) {
                    margin-right: $global-margin;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }

    .widget {
        margin-bottom: 0;
    }

    .contact-box {
        h3 {
            color: $white;
            font-weight: bold;
        }
    }
}

.payments-logos {
    @include flexbox();
    @include align-items(stretch);
    @include flex-wrap(wrap);

    &__item {
        @include flex(1, 1, calc(25% - ((#{$global-margin}/2)*3)));
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        padding: $global-padding/2;
        background-color: $light-gray;
        border: 1px solid $medium-gray;
        margin-bottom: $global-margin/2;
        margin-right: $global-margin/2;

        &:nth-child(4),
        &:nth-child(8),
        &:nth-child(12),
        &:nth-child(16),
        &:last-child {
            margin-right: 0;
        }

        img {
            width: 100%;
            max-width: 100%;
        }
    }
}