/*--------------------------------------------------------------
# ABSTRACTS/LAYOUTS
--------------------------------------------------------------*/
$navs: (default: (logoOrderS: 2,
    logoOrderM: 2,
    logoOrderL: 3,
    logoMarginS: auto,
    logoMarginM: auto,
    logoMarginL: auto,
    logoWidthS: auto,
    logoWidthM: auto,
    logoWidthL: auto,
    menuToggleOrderS: 1,
    menuToggleOrderM: 2,
    menuToggleOrderL: 3,
    menuOrderS: 4,
    menuOrderM: 2,
    menuOrderL: 3,
    menuHeightS: calc(100vh - #{map-get($navbar_height, small)}),
    // menuHeightS: auto,
    menuHeightM: 2,
    menuHeightL: 3,
    extraOrderS: 3,
    extraOrderM: 2,
    extraOrderL: 3,
  ),
  dropdown: (logoOrderS: 1,
    logoOrderM: 1,
    logoOrderL: 1,
    logoMarginS: auto,
    logoMarginM: auto,
    logoMarginL: auto,
    logoWidthS: auto,
    logoWidthM: auto,
    logoWidthL: auto,
    menuToggleOrderS: 4,
    menuToggleOrderM: 4,
    menuToggleOrderL: 4,
    menuOrderS: 2,
    menuOrderM: 2,
    menuOrderL: 2,
    extraOrderS: 3,
    extraOrderM: 3,
    extraOrderL: 3,
  ),
  offcanvasL: (logoOrderS: 1,
    logoOrderM: 2,
    logoOrderL: 3,
    logoMarginS: auto,
    logoMarginM: auto,
    logoMarginL: auto,
    logoWidthS: auto,
    logoWidthM: auto,
    logoWidthL: auto,
    menuToggleOrderS: 1,
    menuToggleOrderM: 2,
    menuToggleOrderL: 3,
    menuOrderS: 1,
    menuOrderM: 2,
    menuOrderL: 3,
    extraOrderS: 1,
    extraOrderM: 2,
    extraOrderL: 3,
  ),
  offcanvasR: (logoOrderS: 1,
    logoOrderM: 2,
    logoOrderL: 3,
    logoMarginS: auto,
    logoMarginM: auto,
    logoMarginL: auto,
    logoWidthS: auto,
    logoWidthM: auto,
    logoWidthL: auto,
    menuToggleOrderS: 1,
    menuToggleOrderM: 2,
    menuToggleOrderL: 3,
    menuOrderS: 1,
    menuOrderM: 2,
    menuOrderL: 3,
    extraOrderS: 1,
    extraOrderM: 2,
    extraOrderL: 3,
  ),
  hover: (logoOrderS: 1,
    logoOrderM: 2,
    logoOrderL: 3,
    logoMarginS: auto,
    logoMarginM: auto,
    logoMarginL: auto,
    logoWidthS: auto,
    logoWidthM: auto,
    logoWidthL: auto,
    menuToggleOrderS: 1,
    menuToggleOrderM: 2,
    menuToggleOrderL: 3,
    menuOrderS: 1,
    menuOrderM: 2,
    menuOrderL: 3,
    extraOrderS: 1,
    extraOrderM: 2,
    extraOrderL: 3,
  ),
);

/* test */
$navs2: (default: (menuToggleOrder: (small: 1,
      medium: 1,
      large: 1,
    )),
  dropdown: (menuToggleOrder: (small: 1,
      medium: 1,
      large: 1,
    )),
  offcanvasL: (menuToggleOrder: (small: 1,
      medium: 1,
      large: 1,
    )),
  offcanvasR: (menuToggleOrder: (small: 1,
      medium: 1,
      large: 1,
    )),
  hover: (menuToggleOrder: (small: 1,
      medium: 1,
      large: 1,
    )));